<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{% block title %}ALT Text Validator{% endblock %}</title>
    <link rel="shortcut icon" href="./static/images/qainfotech_fav.jpg" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

    {% include 'header.html' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
       function DisplayTheModelDropdown(event)
       {   
          if(document.getElementById("MethodOptions").value==2)
          {   
              document.querySelector("[for='model']").hidden=false
              document.getElementById("ModelOption").hidden=false
          }
          else
        {
            document.getElementById("ModelOption").value=1;
            document.getElementById("ModelOption").hidden=true
            document.querySelector("[for='model']").hidden=true
        }   
       }
        
        </script>
</body>

</html>