{% extends 'base.html' %} {% block body %}

<form action="/search" method="POST">
	<div class="test-url-screen">
		<div class="login-screen">
			<br>
			<div class="app-title">
				<h1>Enter Site URL</h1>
			</div>
			<br>
			<div class="control-group">
				<input type="text" class="test-url" value="" placeholder="test website URL" name="test-url">
				<label class="login-field-icon fui-user" for="login-name"></label>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				{% for message in messages %}
				<div class="errormessage">{{ message }}</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</div>


			<input type="submit" value="Test Alt Text Relevancy" class="btn btn-primary btn-large btn-block">

			<br>
		</div>
</form>

{% endblock%}