{% extends 'base.html' %} {% block body %}

<div class="test-url-screen">
    <table>
        <tr>
            <th>Image</th>
            <th>Actual ALT Text</th>
            <th>Is Alt Text Relevant?</th>
            <th>Recommendations</th>
        </tr>
        {% for imagedetails in data%}
        <tr>
            <td>
                <img class="img-transform" height="100px" width="100px" src="{{imagedetails.src}}" style="transition: all 400ms ease">
            </td>
            <td style="text-align: left">
                <!-- <a href="{{ imagedetails.src }}">{{ imagedetails.src }}</a> -->
                <p>{{ imagedetails.alt }}</p>
            </td>
            <td style="text-align: center">
                {% if "GREEN" not in  imagedetails.classes.result and "RED" not in  imagedetails.classes.result %}
                <p class="text-danger font-weight-bold">WARNING</p>
                <p class="text-info">{{imagedetails.classes.result}}</p>
                {% else %}
                <p class="font-weight-bold" style="color: {{imagedetails.classes.result}}">{{imagedetails.classes.result}}</p>
                {% endif %}
            </td>
            <td style="text-align: left">
                <div class="container">

                    <div  style="width: 250px;" class="well">
                        <a id="toggler" href="#" data-toggle="collapse" class="list-group-item text-info font-weight-bold text-center" data-target="#data-{{ loop.index }}">
                            Image Indentified
                        </a>

                        <div id="data-{{ loop.index }}" class="collapse in">
                            <ul class="list-group">
                            {% for texts in imagedetails.classes.image_entity %}
                                <li class="list-group-item text-left" style="width: 250px;">{{texts.Entity}}<span class="badge float-right" style="margin-left:1px;border: 2px solid gray;border-radius: 25px;">{{texts.confidence}}</span> </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="container">
                        
                    <div  style="width: 250px;" class="well">
                        <a id="toggler2" href="#" data-toggle="collapse" class="list-group-item text-info font-weight-bold text-center" data-target="#dataWeb-{{ loop.index }}">
                            Web-Results
                        </a>

                        <div id="dataWeb-{{ loop.index }}" class="collapse in">
                                <ul class="list-group">
                            {% for texts in imagedetails.classes.image_web_entity %}
                            
                                <li class="list-group-item text-left" style="width: 250px;" >{{texts.Entity}}<span class="badge float-right" style="margin-left:1px;border: 2px solid gray;border-radius: 25px;">{{texts.confidence}}</li>
                            
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>

            </td>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- <form action="/search" method="POST">
    <div class="test-url-screen">
        <div class="login-screen">
            {% include 'searchpage.html' %}
            <br>
        </div>
</form> -->
{% endblock%}