{% extends 'base.html' %} {% block body %}

<div class="test-url-screen">
    <table>
        <tr>
            <th>Image Number</th>
            <th>Image Details</th>
        </tr>
        {% for image, imagedetails in data.items() %}
        <tr>
            <td>
                <img height="50px" src="./static/images/retrieved_images/image_{{ image }}.jpg">
            </td>
            <td style="text-align: left">
                <p>IMAGE URL: {{ imagedetails.src }}</p>
                <p>ALT TEXT: {{ imagedetails.alt }}</p>
                <p>Relevant TEXT: {{ imagedetails.vicinity_text}}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock%}