* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial;
  background-color: #3498db;
  padding: 50px;
}

.login {
  margin: 20px auto;
  width: 300px;
}

.login-screen {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
  align-content: center
}

input {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  max-width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980b9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.navbar-brand {
  /* max-width: 50%; */
  max-height: 50px;
  padding: 0px
}

.navbar {
  background: whitesmoke;
  padding: 8px;
  max-height: 50%
}

.navbar-header {
  width: 100%;
  align-content: center
}

.welcome-banner {
  float: right;
  text-align: right;
  padding: 0px
}

.test-url-screen {
  margin: 20px auto;
  max-width: 900px;
}

.test-url {
  width: 100%;
  align-content: center
}

.errormessage {
  color: red;
  text-align: center
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 90%; */
  border: 5px solid #dddddd;
  padding: 10px;
}

th,
td {
  padding: 8px;
  text-align: center
}

tr:nth-child(odd) {
  background-color: #777
}

tr:nth-child(even) {
  background-color: #dddddd
}

tr:first-child{
  background-color: black;
  color: #dddddd
}

.img-transform:hover {
  transform: scale(2.5);
}